.shoppingCartTable {
  margin-top: 45px;
}

.shoppingCartTable button {
  margin-left: 5px;
  margin-top: 5px;
}

.shoppingCartTable .total {
  text-align: right;
  font-size: 1.3rem;
  margin-right: 10px;
}
